footer{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: #eee;
    padding: 70px 100px 30px 100px;
    border: 1px solid #fff;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    box-shadow: -4px -9px 10px -5px rgba(0,0,0,0.20);
-webkit-box-shadow: -4px -9px 10px -5px rgba(0,0,0,0.20);
-moz-box-shadow: -4px -9px 10px -5px rgba(0,0,0,0.20);
overflow-x: hidden;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width : 800px) {
    .logo {
        width: 160px  !important;
        height: 160px  !important;
        transition: all 0.4s ease-in-out;
        margin-top: 15px;
        padding-top: 30px;
    }

    footer{
        padding: 40px 1px 40px 1px;
    } 
    .footer-container{
        display: flex;
        flex-direction: column;
    }

   .first-container , .second-container ,.third-container{
    text-align: center;
    width: calc(100% - 34px) !important;
   }


   .second-container{
    margin-left: 0;
   }

   .read-more{
    display: none;
   }

   .third-container ,.first-container{
      padding-top: 30px;
   }

   .second-container{
    margin-top: -20px;
   }

   .link ul li a{
    font-size: 15px;
   }

   .second-container ul{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .copyright{
    text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       padding: 40px 100px 0 100px;
   }
   
   .social-icons ul{
       padding-top: 25px;
       display: flex;
       justify-content: center;
       align-items: center;
   }

    /* .first-container ,.second-container ,.third-container
    {
        margin-top :110px ;
        position: relative;
        width: 100%;
    } */

    .heading{
        margin-top: 50px;
    }

}

.first-container{
    margin-top: -60px;
    position: relative;
    width: 30%;
}

.heading{
    font-size: 28px;
    color: #ff8800;
    font-weight: 400;
    margin-bottom: 20px;
}

.description{
    margin-top: 20px;
    font-size: 16px;
    color : #000;
    line-height: 1.7;
}

.read-more{
    text-transform: uppercase;
    font-size: 16px;
    color : #ff8800;
    margin-top: 20px;
    /* padding-top: 15px; */
}


.third-container{
    position: relative;
    width: 15%;
    margin-top: -40px;
}

.link ul li a{
    color: rgb(42, 41, 41);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.second-container{
    position: relative;
    width: calc(30% - 60px);
    margin-right: 0!important;
}

.logo{
    width : 20%; 
    transition: all 0.4s ease-in-out;
    margin-top: -40px;
}

logo .logo{
    width: 200px;
    height: 200px;
}

.second-container li{
    margin-bottom: 16px;
    display: flex;
    font-size: 15px;
}

.contact-icon{
    font-size: 20px;
    margin-right: 10px;
}

.copyright{
    border-top: 2px dashed #ff8800;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 0 100px;
}

.social-icons ul{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons ul li a{
    font-size: 23px;
    display: inline-block;
    width: 40px;
    color: #fff;
    height: 40px;
    background: #ff8800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.social-icons ul li a:hover{
    transform: scale(1.3);
    color: #ff8800;
    background: #fff;
    border-radius: 10px;
}

.copy-right
{
    font-size: 16px;
}

.copy-right:hover{
    color :  #ff8800;
}

.link li{
    font-size: 13px;
    color: #000;
}

.contact-icon i{
    color : #ff8800;
    font-size: 22px;
    transition: all 0.3s ease-in-out;
}

.contact-icon i:hover{
    transform: scale(1.3);
    color :#000;
    font-size: 22px;
}

.second-container{
    margin-top: -15px;
}
