@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow-x:  hidden;
}

.dropdown{
  padding: 4px;
  z-index: 99;
  font-size: medium;
  height: 80vh;
  width: 70%;
}
.cancel{
  z-index: 999;
}